<h2 class="text-center my-3">
    Customer Details
</h2>


<form [formGroup]="addCustomer" class="row mb-4">
    <div class="mb-3">
        <label formControlName="name" >Name</label>
    </div>
    <div class="mb-3">
        <label formControlName="lastname" >Lastname</label>
    </div>
    <div class="mb-3">
        <label formControlName="email" >Email</label>
    </div>
    <div class="mb-3">
        <label formControlName="phone" >Phone</label>
    </div>
    <div class="mb-3">
        <label formControlName="adress" >Adress</label>
    </div>
  
</form>